body {
  color: #333;
  font-size: 14px;
  line-height: 1.4;
}
.clearfix:after{
  display: block;
  clear: both;
  content: "";
}
.container {
  margin: 0 auto;
  width: 960px;
}
/*
  基本、px指定の時に、小数点第二までは書くことはない
*/
.item{
  float: left;
  margin: 16.25px;
  padding: 16.25px;
}
/*
  h1やimgなどのタグに直接cssを直接指定するのはout
  .wellfare__img
  などのclassで指定していく
  もし、現在表示している画像の隣にサイズの違う画像を置かなくてはいけなくなった時とかに、これだと困ることになる
*/
.item h1{
  color: rgb(192,42,96) ;
  font-size: 20px;
}
/*
  imgのサイズ指定をする際、height, widthを両方指定することはそんなにない
  というのも、画像自体のもともとの縦横のサイズがあるので、heightかwidthのどちらかを指定すれば、それに合わせてよしなに変更される
  むしろ、以下のように両方指定してしまうと、画像のもともとの比を変えてしまいかねないので、危険さえある。
  あと、width: 80%のように比で指定することが多い。
  px指定だと、windowのサイズが変わった時（小さいwindowで開いた時とか）に困ることがある（スマホのように、サイズがある程度限定的な場合は別だったりするが）
*/
.item img{
  height: 275px;
  width: 415px;
}

.tabrow{
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 24px;
}

.tabrow li{
  margin: 0 1px;
  padding: 14px 18px;
  border: 1px solid rgb(238,238,238);
  background: rgb(60,60,60);
  display: inline-block;
  color: #FFF;
}


.tabrow li.selected {
  background: rgb(249,249,249);
  color: #333;
}

.contents{
  background: rgb(249,249,249);
  margin: 0px;
  padding: 30px 20px;
  border: 1px solid rgb(238,238,238);
}
.contents h1{
  font-size: 16px;
}
