body {
  color: #333;
  font-size: 14px;
  line-height: 1.4;
}
.clearfix:after{
  display: block;
  clear: both;
  content: "";
}
.container {
  margin: 0 auto;
  width: 960px;
}
.item{
  float: left;
  margin: 16.25px;
  padding: 16.25px;
}
.item h1{
  color: rgb(192,42,96) ;
  font-size: 20px;
}
.item img{
  height: 275px;
  width: 415px;
}

.tabrow{
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 24px;
}

.tabrow li{
  margin: 0 1px;
  padding: 14px 18px;
  border: 1px solid rgb(238,238,238);
  background: rgb(60,60,60);
  display: inline-block;
  color: #FFF;
}


.tabrow li.selected {
  background: rgb(249,249,249);
  color: #333;
}

.contents{
  background: rgb(249,249,249);
  margin: 0px;
  padding: 30px 20px;
  border: 1px solid rgb(238,238,238);
}
.contents h1{
  font-size: 16px;
}
